body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-color: black;
}

main {
    flex: 1 0 auto;
}

.row {
    background-color: black;
}

#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

nav {
    background-color: black;
}

img {
    max-width: 100%;
}

.join-form {
    width: 100%;
}

.flex {
    display: flex;
}

.flex > * {
    flex: 1;
    padding-bottom: 30px;
}

textarea {
    width: 100%;
    height: 150px;
}

.players {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0;
    display: block;
}

.players li {
    display: inline-block;
    padding: 0 20px 0 0;
}
